html,
body {
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    font-size: 15px;
}
section{
    padding: 8% 0;
}
/*<------------------------------------------------------->
/* Heading and paragraph */

.row{
    margin: 0;
}

.title-header {
    background-image: url("title-image-01-01.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: scroll;
    text-align: center;
    border-bottom: 20px solid #fcb801;
    width: 100%;
}

h2.page-header{
    font-family:'Montserrat', Helvetica, Sans-serif;
    font-size: 215%;
    font-weight: 700;
    letter-spacing: 1px;
    padding-bottom: 2%;
    margin:8% 0 5% 0;
    border-bottom: 6px solid #fcb801;
    text-align: center;
    color: #2172b1;
}


h3{
    font-family:'Montserrat', Helvetica, Sans-serif;
    font-size:160%;
    font-weight: 700;
    margin:0;
    margin-bottom: 10px;
}

h4{
    font-size: 120%;
    font-weight: 600;
    margin-bottom: 1%;
    z-index: 100;
}
h5{
    font-size: 100%;
    padding: 0 5px 10px 10px;
    z-index: 100;
}
h6{
    font-family:'Montserrat', Helvetica, Sans-serif;
    font-size: 140%;
    font-weight: 700;
    padding: 5px 5px 3px 10px;
}
p{
    margin-bottom: 6%;
    font-size: 15px;
    text-align: justify;
    line-height: 23px;
}
ul{
    margin-bottom: 6%;
}
li{
  font-size: 15px; 
  padding-top: 1%; 
}

hr{
    border: 3px solid #ddd;
    opacity: 0.6;
}
#spacer{
    margin-top:28%;
}
#spacer2{
    margin-top: 7%;
}
/*.........................................................
/* responsive */
@media only screen 
and (min-device-width:769px) {

    h1.tagline{
        color: #2172b1;
        font-size: 300%;
        font-weight: 900;
        text-align: center;
        margin: 410px 0 40px 0;
        line-height: 1.5;
        letter-spacing: 1.3px;
}
    .other-projects{
        margin-left: 15%;
        margin-right: 15%;
}
    h2.title-subhead{
        font-family: 'Montserrat', Helvetica, Sans-serif;
        font-size: 140%;
        line-height: 1.5;
        margin: 6% 0;
        text-align: center;
}
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 768px) {

    h1.tagline{
        color: #2172b1;
        font-size: 180%;
        margin-top: 300px;
        margin-bottom: 10px;
        font-weight: 600;
        line-height: 1.5;
    }
     h2.title-subhead{
        font-size: 100%;
        line-height: 1.5;
        margin: 10% 5%;
        text-align: justify;
    }
    h2.page-header, h3{
        font-size: 160%;
        font-weight: 700;
        }
    h3{
        font-size: 130%;
        margin-bottom: 4%;
        font-weight: 600;
    }
    h4, h5{
        font-size: 120%;
        margin-bottom: 3%;
        line-height: 1.4;
    }
    p, ul, li{
        font-size: 100%;
    }
    p{
    margin-bottom: 6%;
}
  
}

/*<------------------------------------------------------->
/* Navigation */
.container>.navbar-collapse{
    margin: 0 1%;
}
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand{
    margin-left: 0;
}
.navbar-inverse .navbar-brand {
    color: #fff;
    font-size: 22px;
    font-weight: bolder;
    padding: 18px;
}
.navbar-inverse .navbar-nav>li>a {
    color: #fff;
    margin: 2%;
    text-align: right;
    font-weight: bold;
    font-size: 17px;
}
.navbar-inverse .navbar-nav>li>a:hover {
    color: #fcb801;
    background-color: transparent;
}
.navbar-inverse .navbar-nav>.active> a {
    color: #fff;
    background-color: transparent;
    font-weight: bold;
}
.navbar-inverse .navbar-nav>.active> a:focus {
    color: #fcb801;
    background-color: inherit;
}
.navbar-inverse {
    background-color: #2172b1;
    height: 60px;
    border-bottom: 2px solid #2172b1;
}

.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #fcb801;
  background-color: #2172b1;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: transparent;
    background-color: #2172b1;   
}
.navbar-inverse .navbar-toggle {
    border-color: transparent;
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background-color: #2172b1;
    border-color: transparent;
    color: #fcb801;
}


/*<------------------------------------------------------->
/* Projects */

.panel-body{
	padding:0;
    width: 100%;
    border: 0.5px solid #d1d2d5;
}

.panel-default{
    border-color: transparent;
}

/* Learn more buttons 
.btn{
	display: block;
	margin-top: 15px;
	padding: 15px;
    font-size: 100%;
    border:2px solid #fec343;
    border-radius: 20px;
    font-weight: 600;
    text-align: center;
      -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
          box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}
.btn-default{
    color: #2f2e2c;
    background-color: #fff;
}
.btn-default:focus,
.btn-default.focus {
    color: #fff;
    background-color: #fec343;
}
.btn-default:hover {
    color: #fff;
    background-color: #fec343; 
}
*/
.btn{
    padding: 5% 10%;
    display: block;
    text-align: center;
    font-size: 110%;
    font-weight: 600;
}
a.read-btn{
    background-color: #fff;
    color: #2172b1;
    z-index: 100;
    text-align: center;
    display: inline-block;
    width: 100%;
}
a.btn:focus, a.btn:hover{
    color: #2f2e2c;
    text-decoration: underline;
    z-index: 100;
    background-color: #fec343;
    opacity: 0.7;
}
/*.......................................*/
@media (max-width: 768px) {
    .panel-heading{
        text-align: center;
    }
    .other-project{
        width: 100%;
    }
  }
/*<------------------------------------------------------->
/* Col */
.col-md-12 {
    width: 100%;   
}

.col-md-6{
    width: 57%;
  
}
.col-md-5 {
  padding:0px 30px 30px 5px; 
  width:37%;
  height: auto;  
}
.col-md-7{
    width: 50%;
}
.col-md-10{
    width: 90%;
    margin-left:5%;
}
/*.......................................*/
@media only screen 
and (min-device-width : 769px) 
and (-webkit-min-device-pixel-ratio: 1){
    .col-md-12, .col-md-5{
        padding-left: 15px;
        padding-right: 15px;
        position: relative;
        float: left;
    } 
  }
@media only screen 
and (min-device-width : 769px) 
and (-webkit-min-device-pixel-ratio: 1){
    .col-md-5{
        padding-left: 15px;
        position: relative;
        float: right;
    } 
  }

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 768px) {
    .col-md-12, .col-md-6, .col-md-5, .col-md-7, .col-sm-6{
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
        position: relative;
        float: left;

    }
    .persona{
        width: auto;
    }
    .persona-orca{
        width: auto;
    }
    .about-subhead{
    font-size: 120%;
    text-align: center justify;
    margin: 3%;
    }
}


/*<-------------------------------------------------------
/* Cluck */

.cluck-device{
    margin: 6% 0;  
    position: relative;
    width:100%;
    height: auto;
    float: left;
}
.cluck-app{
    margin: 6% 0;  
    position: relative;
    width:100%;
    height: auto;
    float: left;
}
.research-sketch{
    width:100%;
    height: auto;
    position: relative;
    margin-right: 10%;
    float: left;
}
.participant-design{
    padding-top:10px;
    width:100%;
}

.persona{
    max-width: 100%;
    margin-bottom: 6%;
    border: 1px solid #ccc;
}
.affinity{
    max-width: 100%;
    height: auto;
    margin-bottom: 20%;
}
.research-analysis{
    width: 100%;
    height: auto;
    margin-bottom:6%;
    padding: 0;
}
.storyboard{
    max-width: 100%;
    height: auto;
    margin-top: 10%;

}

.sketches{
    max-width: 100%;
    height: auto;
    float: left;
    margin:0;
}
.whiteboard{
    max-width: 100%;
    height: auto;
    margin-bottom: 5%; 
}
.pasta-design{
    width: 100%;
    height: auto;
    margin-top: 15%;
    float: left;
}
#section-cluck{
    margin-bottom: 8%;
}
.testing-1{
    margin: 0;  
    position: relative;
    width:100%;
    height: auto;
}

@media only screen
and (min-device-width: 768px){
    .cluck-prototype{
    margin: 5% 0 0 23%;
    position: relative;
    display: inline-block;
    padding: 2%;
}
    .cluck-header {
    font-family:'Montserrat', Helvetica, Sans-serif;
    font-size: 300%;
    font-weight: 700;
    letter-spacing: 2px;
    margin: 8% 0;
    padding-bottom: 3%;
    border-bottom: 6px solid #fcb801;
    text-align: center;
}
}
@media only screen
and (max-device-width: 500px){
    .cluck-prototype{
    margin-left: 30%;
    position: relative;
    display: block;
    padding: 2%;
    margin: 10% 25%;
}
    .cluck-header {
    font-family:'Montserrat', Helvetica, Sans-serif;
    font-size: 200%;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 25% 0 10% 0;
    padding-bottom: 3%;
    border-bottom: 6px solid #fcb801;
    text-align: center;
}
.btn-round{

}

}
/*<-------------------------------------------------------
/* Carousel */

.carousel-control.left{
    background-image:none;
    margin: 0 -4%;
  }
.carousel-control.right {
    background-image:none;
    margin: 0 -4%;  
}
  .carousel-inner{
    padding: 0;
  }
   .carousel-inner > .item{
    margin:0;
    
  }
  .carousel-control{
    color: #fec343;
  }

.carousel-inner > .next,
.carousel-inner > .prev {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 0;
  
}

.carousel-indicators li {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: -30px 5px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #000 \9;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #ccc;
  border-radius: 10px;
}
.carousel-indicators .active {
  width: 15px;
  height: 15px;
  margin: -30px 5px;
  background-color: #fff;
  border-color: #fec343;
}
.carousel-inner>.item>a>img{
    max-width: 100%;
}
/*<-------------------------------------------------------
/* ORCA */

.ORCA-app{
    margin: 6% 0;  
    position: relative;
    width:100%;
    height: auto;
    float: left;
}

.affinity-ORCA{
    max-width: 100%;
    height: auto;
    margin-bottom: 5%;
    position: relative;
}
.MVP{
    max-width: 100%;
    height: auto;
    margin:0;
    position: relative;
    border: 1px solid #ccc;
}

.persona-orca{
    max-width: 100%;
    margin-bottom: 6%;
    border: 1px solid #ccc;
}
.cjm{
    width:100%;
    height: auto;
    position: relative;
    margin-bottom: 6%;
}
#user-story{
    margin-top: 11%;

}

.blueprints{
    max-width: 100%;
    height: auto;
    border: 1px solid #ccc;
}
.user-flow-ORCA{
    width: 110%;
    height: auto;
    margin-top: 15%;
    margin-left: -5%;
}
@media only screen
and (min-device-width: 768px){
    .orca-prototype{
    margin: 5% 0 5% 43%;
    position: relative;
    display: inline-block;
    padding: 2%;
    display: inline-block;
    font-weight: bolder;

}
}
@media only screen
and (max-device-width: 500px){
    .orca-prototype{
        padding: 12%;
        margin-left: 25%;
        display: inline-block;
    }
}
/*<-------------------------------------------------------
/* Williams-Sonoma */

.WS-app{
    margin: 6% 0; \]  
    position: relative;
    width:100%;
    height: auto;
    float: left;
}
.affinity-WS{
    width:100%;
    height: auto;
    position: relative;
    margin-right: 10%;
    float: left;
}
.findings{
    margin: 0;
}
.demographics{
    width: 100%;
    height: auto;
    margin-top: 15%;
    float: left;
}
.persona-WS{
    max-width: 100%;
    margin-bottom: 6%;
}

.CJM-WS{
    width:100%;
    height: auto;
    position: relative;
    margin: 2% 0;
    padding: 1% 0;
}

.site-map{
    width: 110%;
    height: auto;
    margin-bottom: 5%;
    margin-left: -5%;
}
.user-flow-WS{
    max-width: 100%;
    height: auto;
    float: left;
    margin:0;
    border: 1px solid #ccc;
}
.sketches-WS{
    width: 100%;
    height:auto;  
    margin-top: 10%;
    border: 1px solid #ccc;
}
.WS-button-wrapper{
    position: relative;
    width: 50%;
    float: left;
    margin-top: 35px;
    padding: 0 40% 0 40%
}
.concept-map{
    max-width: 100%;
    height: auto;
    float: left;
    margin-bottom: 20%;
    border: 1px solid #ccc;

}
/*footer */
.footer{
    height: 100px;
    text-align: center;
    margin: 5% auto;
}
/* 404 */
.error-404{
    padding-left: 10px;
    text-align: center;

}
.jumbotron{
    background-color: #fec343;
    height: 450px;
    padding: 150px 80px;
}
/* About */
.about-tagline{
    text-align: center;
    font-size: 215%;
    font-weight: 700;
    margin-top: 35%;
    line-height: 1.5;
}
.about-header {
    height: 80%;
    background-color: #fec343;
    background-position: center;
    background-size: cover;
}
.about-subhead{
    text-align: center justify;
    margin: 3%;
}
.profile{
    width: 100%;
    position: relative;
    float: left;
    margin: 50px 0;
    border-radius: 250px;
}
.button-wrapper{
    position: relative;
    margin-top: 35px;
    padding: 0 40%;
}
.btn-round{
    border: 3px solid #fcb801;
    background-color: #fff;
    border-radius: 100px;
}
.icon{
    width: 100px;
    height: 100px;
}
 #connect{
    display: inline-block;
    font-size: 110%;
    font-weight: 600;
    width: auto;
    color: #2f2e2c;
    line-height: 2;
    background-color: #fec343;
    padding: 2% 10%;
    margin-left: 25%;
    border: 2px solid #fec343;
    border-radius: 100px;
}
#resume{
    display: inline-block;
    font-size: 110%;
    font-weight: 600;
    width: auto;
    color: #fec343;
    line-height: 2;
    padding: 2% 8%;
    margin-top: 28%;
    margin-left: 50%;
    border: 2px solid #fec343;
    border-radius: 100px;
}

@media only screen
and (max-device-width: 500px){
    .button-wrapper{
    position: relative;
    width: 100%;
    margin: 5% 0;
}
    .about-tagline{
    text-align: center;
    font-size: 140%;
    font-weight: 600;
    margin-top: 65%;
    line-height: 1.5;
}
}
@media only screen
and (min-device-width: 768px){
    .button-wrapper{
    position: relative;
    width: 100%;
    float: left;
  
}

    .about-tagline{
    text-align: center;
    font-size: 215%;
    font-weight: 700;
    margin-top: 25%;
    line-height: 1.5;
}
    .profile{
    width: 50%;
    position: relative;
    display: block;
    float: left;
    margin: 50px 0;
    border-radius: 400px;
}
}